@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenido-festival {
    //background-color: aqua;

    margin-top: 5rem;
    h2 {
        margin-bottom: 2rem;
    }

    .fecha {
        color: v.$naranja;
        font-weight: 700;
    }
}

.sobre-festival {
    @include m.contenedor();

    @include m.tablet {
        @include m.grid(2,5rem);
    }
}